.vs
AGENT/.vs
AGENT/*.user
AGENT/[Dd]ebug/
AGENT/[Rr]elease/
AGENT/[Bb]in/
AGENT/[Oo]bject/
dllRansom/.vs
dllRansom/*.user
dllRansom/[Dd]ebug/
dllRansom/[Rr]elease/
dllRansom/[Bb]in/
dllRansom/[Oo]bject/
RansomWanabe/.vs
RansomWanabe/*.user
RansomWanabe/[Dd]ebug/
RansomWanabe/[Rr]elease/
RansomWanabe/[Bb]in/
RansomWanabe/[Oo]bject/